__pycache__/
.Input/
.sql/
Output/
*. j_
*.3-a1
*.3gp
*.4-pr
*.5x
*.7z
*.a99
*.aac
*.acl
*.acm
*.acs5
*.adm
*.adml
*.admx
*.aff
*.afm
*.ahk
*.aif
*.aiff
*.al
*.am
*.ambr
*.amr
*.ani
*.aodl
*.ape
*.api
*.apk
*.apm
*.app
*.appx
*.arff
*.asar
*.asc
*.ascx
*.asn1
*.asp
*.aspx
*.ast
*.at3p
*.au
*.aup
*.ausl
*.auth
*.aux
*.avi
*.avif
*.ax
*.azw3
*.b2
*.b3
*.b5
*.b99
*.bak
*.bare
*.bats
*.bc
*.bdic
*.bdr
*.bep
*.ber
*.bfc
*.bin
*.bk
*.bki
*.blf
*.blob
*.bmp
*.bnf
*.bnk
*.bnr
*.body
*.br
*.bru
*.bsd
*.bud
*.bup
*.bz2
*.bzl
*.c00
*.c01
*.c02
*.c32
*.c3b
*.ca
*.cab
*.camp
*.cat
*.cbn
*.cdc
*.cdmp
*.cdp
*.cdx
*.cer
*.cert
*.cext
*.cff
*.cfg
*.cfgx
*.chf
*.chk
*.chm
*.ckpt
*.clw
*.cnf
*.cnt
*.cnv
*.code
*.code-workspace
*.com
*.cond
*.conf
*.core
*.cov
*.cpl
*.cpx
*.crc
*.cred
*.crt
*.crwl
*.crx
*.csb
*.csc
*.csg
*.csh
*.cso
*.csr
*.csv
*.cts
*.cty
*.cu
*.cube
*.cue
*.cuh
*.cur
*.cvd
*.dat
*.dat1
*.data
*.db
*.db3
*.dbf
*.dds
*.def
*.der
*.dgml
*.dgsl
*.dic
*.dict
*.diff
*.dir
*.dist
*.dit
*.dlg
*.dll
*.dls
*.dls7
*.dmp
*.doc
*.docs
*.docx
*.dol
*.done
*.dot
*.dotm
*.dotx
*.dpr
*.dpv
*.drv
*.ds
*.dsp
*.dsw
*.dta
*.dtc
*.dtd
*.dub
*.dxt
*.e2x
*.ec
*.ecf
*.edb
*.ee
*.efi
*.eftx
*.ejs
*.el
*.elf
*.elm
*.emf
*.eml
*.emmx
*.enc
*.enex
*.ent
*.env
*.eot
*.epf
*.eplv
*.eps
*.epub
*.eqf
*.erb
*.ese
*.etl
*.evt2
*.evtx
*.exc
*.exi
*.exo
*.exp
*.fae
*.fbs
*.file
*.fits
*.flac
*.flow
*.flt
*.flv
*.fnt
*.fon
*.fpt
*.fr
*.frag
*.fs
*.fsc
*.fsh
*.fst
*.ft
*.ftl
*.fx
*.fxb
*.g4
*.game
*.gbf
*.gbnf
*.gdb
*.gdl
*.gdt
*.get
*.gif
*.gir
*.git
*.glb
*.gm
*.gmmp
*.gms
*.go2
*.gox
*.gpd
*.gpg
*.gpio
*.gpl
*.gpx
*.grit
*.grl
*.gthr
*.gxi
*.gyp
*.gypi
*.gz
*.gzip
*.h264
*.hash
*.hbs
*.hcl
*.hdr
*.heic
*.heif
*.heq
*.hh
*.hlp
*.hlsl
*.hlx
*.host
*.hot
*.http
*.hxc
*.hxk
*.hxn
*.hxs
*.hxt
*.hyb
*.i01
*.i02
*.i03
*.i04
*.i05
*.i06
*.i07
*.i08
*.i09
*.i10
*.i11
*.i12
*.i13
*.i14
*.i15
*.i16
*.i17
*.i18
*.i19
*.i20
*.i21
*.i22
*.i23
*.i24
*.i25
*.i26
*.i27
*.i28
*.i29
*.i30
*.i31
*.i32
*.i33
*.i34
*.i35
*.i36
*.i37
*.i38
*.i39
*.i40
*.i41
*.i42
*.i43
*.i44
*.i45
*.i46
*.i47
*.i48
*.i49
*.ibf2
*.icm
*.icns
*.ico
*.ics
*.idl
*.idx
*.ie5
*.iec
*.ifo
*.ime
*.img
*.iml
*.in
*.inc
*.inf
*.info
*.ini
*.init
*.ink
*.inl
*.ins
*.inv
*.inx
*.io
*.iom
*.ios
*.ipp
*.ir
*.iso
*.iss
*.its
*.ivd
*.ix
*.ixx
*.j2
*.ja
*.jar
*.jcp
*.jfif
*.jfm
*.jgss
*.jmod
*.jpeg
*.jpg
*.jrs
*.jsc
*.json
*.jst
*.jtx
*.jwt
*.keep
*.key
*.kgqp
*.kick
*.kipr
*.kva
*.kvb
*.kvc
*.kvs
*.kzi
*.l_
*.land
*.lang
*.lark
*.lcov
*.ldb
*.ldf
*.len
*.lex
*.lgpl
*.lib
*.libs
*.lic
*.link
*.linq
*.list
*.lkg
*.ll
*.llvm
*.lm
*.lm1
*.lm2
*.lng
*.lnk
*.loc
*.lock
*.log
*.log1
*.log2
*.lrc
*.lsp
*.lst
*.luac
*.lxa
*.lz4
*.lzma
*.m3u
*.m3u8
*.m4
*.m4a
*.mail
*.man
*.map
*.maps
*.mardkdown
*.mask
*.mat
*.md
*.md5
*.mdat
*.mdb
*.mde
*.mdl
*.mdm
*.mdx
*.meet
*.mesh
*.meta
*.mf
*.mfl
*.mftx
*.mht
*.mid
*.mit
*.mjml
*.mk
*.mkd
*.mkv
*.mmap
*.mo
*.mobi
*.mod
*.mof
*.mogg
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.mrq
*.msc
*.msf
*.msg
*.msi
*.msix
*.mta
*.mte
*.mts
*.mui
*.mum
*.mun
*.n12
*.nam
*.name
*.nbc
*.nbi
*.nc
*.nes
*.net
*.new
*.nfo
*.nix
*.njs
*.nlp
*.nls
*.nlt
*.nnet
*.node
*.npm
*.npy
*.npz
*.nrr
*.nse
*.nsh
*.nsi
*.ntf
*.nu
*.num
*.nvi
*.nvph
*.nvx
*.ny
*.obj
*.ocx
*.odc
*.odf
*.odl
*.odt
*.oem
*.ogg
*.oh0
*.olb
*.old
*.olr
*.once
*.one
*.onnx
*.opf
*.opml
*.opts
*.opus
*.orc
*.orca
*.org
*.orig
*.orp
*.ors
*.os
*.ot
*.otc
*.otf
*.out
*.ovl
*.ovpn
*.ovt
*.p12
*.p7b
*.p7s
*.p7x
*.pack
*.pak
*.par2
*.pb
*.pc
*.pck
*.pdb
*.pdf
*.pdl
*.peak
*.pem
*.pf
*.pfb
*.pid
*.pkl
*.pma
*.pnf
*.png
*.png_
*.po
*.poc
*.pod
*.pol
*.port
*.post
*.pot
*.potx
*.ppd
*.ppkg
*.ppm
*.pps
*.ppt
*.pptx
*.pre
*.prf
*.pri
*.prj
*.prl
*.pro
*.prp
*.prt
*.ps
*.psc1
*.psd1
*.psf
*.pst
*.pt
*.ptb
*.pth
*.pub
*.pxi
*.pyd
*.pyf
*.pys
*.pyw
*.qbk
*.qdoc
*.qm
*.qml
*.qmlc
*.qph
*.qpj
*.r_
*.rar
*.raw
*.rbs
*.rc
*.rc2
*.reb
*.reg
*.rego
*.rej
*.rels
*.res
*.resw
*.resx
*.rev
*.rgt
*.rh
*.rk
*.rkyv
*.rl2d
*.rld
*.rll
*.rmi
*.rng
*.rom
*.rpl
*.rpp
*.rsa
*.rsm
*.rsp
*.rst
*.rt
*.rtf
*.ru
*.rvd
*.rxg
*.rxvt
*.sa
*.sam
*.sav
*.sbd
*.sbk
*.sccd
*.sch
*.scm
*.scmx
*.scp
*.scpt
*.scr
*.sct
*.sdb
*.sdi
*.sdt
*.sep
*.ser
*.sf
*.sfv
*.sfx
*.sg
*.shd
*.shp
*.shx
*.sig
*.sinc
*.sla
*.slim
*.smap
*.snap
*.sng
*.so
*.sol
*.solv
*.spd
*.spg
*.sqbpro
*.sql
*.src
*.srd
*.srl
*.srt
*.ssd
*.ssi
*.sst
*.star
*.stat
*.stl
*.stop
*.stub
*.stx
*.sum
*.swf
*.syn
*.sync
*.sys
*.syso
*.syx
*.tab
*.tag
*.talk
*.tar
*.tax
*.tbl
*.tbr
*.tcc
*.tcd
*.temu
*.test
*.tf
*.tfd
*.tga
*.tgtg
*.tgz
*.th
*.thmx
*.ths
*.tif
*.tiff
*.tile
*.tips
*.tlb
*.tlog
*.tm
*.tmp
*.tmp-
*.tmpl
*.tnu
*.toc
*.toml
*.topo
*.tp
*.tpl
*.tps
*.trim
*.trn
*.tsp
*.tsv
*.tt
*.ttc
*.ttf
*.ttl
*.tts
*.ttx
*.txp
*.txt
*.txt3
*.uce
*.ui
*.uid
*.unt
*.url
*.usf
*.uwp
*.ux
*.v1
*.v2
*.v4
*.val
*.vb
*.vc
*.vcrd
*.vdm
*.ver
*.vert
*.vesf
*.vhdx
*.vlc
*.vlog
*.vmcx
*.vmgs
*.vmrs
*.vnt
*.vob
*.vpn
*.vpol
*.vrg
*.vsch
*.vsf
*.vsh
*.vsix
*.vsk
*.vst3
*.vsz
*.vtt
*.vue
*.vwl
*.walk
*.want
*.wasm
*.wav
*.waze
*.wbf1
*.wbfs
*.web
*.webm
*.webp
*.whl
*.wi]
*.wih
*.wim
*.wjp
*.wma
*.wmf
*.wmir
*.wmv
*.wmz
*.woff
*.word
*.wpf
*.wpl
*.wprp
*.wpw
*.wsc
*.wve
*.wxl
*.wxs
*.x86
*.xa
*.xaml
*.xar
*.xbap
*.xbf
*.xbm
*.xbn
*.xc
*.xce
*.xcer
*.xct
*.xd
*.xdc
*.xdce
*.xde
*.xder
*.xdw
*.xdwe
*.xe
*.xer
*.xla
*.xlam
*.xlb
*.xlf
*.xlm
*.xls
*.xlsb
*.xlsm
*.xlsx
*.xltx
*.xmd
*.xml
*.xn
*.xpi
*.xpm
*.xps
*.xr
*.xs
*.xsc
*.xsce
*.xsd
*.xse
*.xser
*.xsh
*.xsl
*.xslt
*.xsw
*.xswe
*.xsx
*.xu
*.xw
*.xwe
*.xwer
*.xz
*.yaml
*.zara
*.zep
*.zi
*.zip
*.zlib
*.zone
*.zst
__pycache__/
data/
datasets/
Input/
Output/
samples/
tmp/
uploads/
sql/
